
.tile:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.tile.hard{
    -fx-border-color: white;
    -fx-background-color: white;
    -fx-font-size: 8px;
    /*-fx-text-fill: red;*/
    /*-fx-border-*/
}
#submenu{
    -fx-background-color: white;
}

#lTimer{
    -fx-font-size: 4.5ex;
}
#lMineCount{
    -fx-font-size: 4.5ex;
}

#bRestart{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-font-size: 1.4em;
}

.tile.mine{
    -fx-border-color: red;
}





