#submenu {
    -fx-background-color: white;
}

#lTimer {
    -fx-font-size: 4.5ex;
}
#lMineCount {
    -fx-font-size: 4.5ex;
}

#bRestart {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-font-size: 1.4em;
}



.tile {
    -fx-background-color: white;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-border-width: 1px;
    -fx-border-color: lightgrey;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-size: 100%,100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.tile:disabled, .tile:disabled > *{
    -fx-opacity: 0.7;
}

.tile:focused {
    -fx-background-insets: 0, 1, 2;
    /*-fx-background-radius: 5, 4, 3;*/
}

.tile:hover {
    -fx-border-color: black;
}

.tile:pressed {
    -fx-background-color: #e5e5e5;
}
.tile.hard{
    -fx-border-color: white;
    -fx-background-color: white;
    -fx-font-size: 7px;
/*-fx-text-fill: red;*/
/*-fx-border-*/
}

/*noinspection CssInvalidPseudoSelector*/
.tile:clicked {
    -fx-border-color: #dedede;
    -fx-background-color: #dedede;
}

/*noinspection CssInvalidPseudoSelector*/
.tile:clicked:hover {
    -fx-background-color: #efefef;
}

.tile#default{

}

.tile#mine{

}

.debug#mine {
    -fx-background-image: url('../Images/mine_style2.png');
    -fx-border-color: red;
}

/*noinspection CssInvalidPseudoSelector*/
.tile:flag, .debug:flag {
    -fx-background-image: url('../Images/flag_style1.png');
}


#mine:disabled {
    -fx-background-image: url('../Images/mine_style2.png');
    /*-fx-border-color: red;*/
}

/*noinspection CssInvalidPseudoSelector*/
#mine:disabled:flag {
    -fx-border-color: green;
    -fx-border-width: 2px;
    -fx-opacity: 0.7;
}

/*.tile:not(#mine) {*/
/*    -fx-background-color: green;*/
/*}*/

/*noinspection CssInvalidPseudoSelector*/
.tile:disabled:flag, .tile.hard:disabled:flag {
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-opacity: 0.3;
}

/*noinspection CssInvalidPseudoSelector*/
.tile.win:clicked:disabled {
    -fx-background-image: url('../Images/flag_style1.png');
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-text-fill: rgba(0, 0, 0, 0);
}